{% extends "layout.html" %}

{% block title %}
    Help
{% endblock %}

{% block main %}

<div class="jumbotron">
  <h1 class="display-3">To everyone</h1>
  <p class="lead"> from the developer: WileyZhao</p>
  <hr class="my-4">
  <div class="info" style="text-align:left">
<h4>Hello,everyone. My name is Wiley Zhao, and I come from Nanjing China. I’m a huge basketball fan who found it's difficult to get an appropriate place to play basketball, so I build a website, we can use it to collect the information of basketball courts and basketball fans. Therefore, the name of the website is "On Basketball Courts”. At this website, you can upload and search the information of basketball courts, and comment these courts and communicate with others.
</h4>
<br />
<h4>Firstly, you can watch the home page when you open the website. On home page, you can search and upload the information of basketball courts. Of course, you can also see three table controls. They are recent 20 reserved informations, top 5 points of basketball courts, and top 5 popular of basketball courts, respectively.
You can click any name of basketball courts, then the details will come out.
</h4>
<br />
<h4>Secondly, when you open the detail page of one court, you can get the location from google map, and mark something on it. Actually, I think this part is the most significant of the website. You can comment the court, give points, upload the pic, or you can send the messages about your plan, such as time and place and how many guys will play basketball with you. You can invite others to join you. Everybody can read the message which you sent on the website. Of course, if you want to mark something, please login the website. If you don’t have an account yet, register it right now. There are some test accounts(username/password), such as test/test, Kobe Bryant/Kobe Bryant, Stephen Curry/Stephen Curry, Klay Thompson/Klay Thompson.
</h4>
<br />
<h4>And then, obviously, you can search the basketball courts on the home page directly, the website will give all the courts within 10km of your location. Or you can just click the search botton. It will show all of the courts to you. If you can not find the basketball court which you want, you can upload it by yourself.
</h4>
<br />
<h4>At last, you can check all of your messages you sent on “mine” page. By the way, you can also change your password easily.
</h4>
<br />
<h4>In conclusion, this is the website I want to share with you. It can help us to share the information of basketball courts, and finds the teammates and friends who you want.  I do it by myself, and I know, I still have lots of works to make it perfect. I will finish it in the next period.
</h4>
</div>
</div>

{% endblock %}
